  // Index.module.scss

.container {
  display: flex;
}

.content {
  padding: 1.25rem; // 5 * 4px
  color: #ffffff;
  flex: 1;
  background-image: url('../assets/wallper.webp');
  background-position: top;
  background-attachment: fixed;
  background-repeat: round;
  justify-content: center;
  overflow: auto;
}
